/* SignIn */
html, body {
  height: 100%;
  margin: 0;
}

#wrapper {
  min-height: 100%;
  background-image: url("../../photos/SignIN-bg.svg")!important;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  padding-top: 0.5%;
  padding-bottom: 16%;
  background-size: cover;
}

.signIn-text-DIV {
  float: left;
  color:white;
  margin-top: 17%;
  margin-left: 15%;
}

.signIN-text {
  font-size: 3.5rem;
  font-weight: 700;
  font-style: italic;
}

input.sign-in{
    margin: 10px auto;
    border-radius: 28px;
    text-align: left;
    background-color: white;
    width:280px;
    position: static;
    display: block;
    border-color:white;
    color:black;
    padding-left:17px;
    /* border:none; */
    outline: none;
  }
  
  .signup-button{
    width:280px;
    margin: 10px auto;
    border-radius: 28px;
    background-color: #4CD964;
    border-color: #4CD964;
    position: static;
    display: block;
    color:black;
    font-weight: bold;
  }
  
  .forgot-password{
    text-align: center;
    position: static;
    display: block;
  }
  
  .moveto-signup{
    margin-top:30px;
    margin-left:3px;
    padding-left: 10px;
    padding-right: 7px;
    color:white;
  }
  
  .my-form{
    margin-left: 200%;
    text-align: center;
    margin: 7% 55% auto;
    background-color:#0000009e;
    backdrop-filter: blur(10px);
    width: 350px;
    padding: 1.5%;
    border-radius: 20px;
  }

  .form-control{
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;    
    background-color: rgba(255, 255, 255, 0.268);
    /* opacity: 25%; */
    font-weight: 600;
    /* backdrop-filter: blur(50px); */
    border-radius: 13px;
    border-style: none;
    width: 85%;
    margin-bottom: 0;
    margin-left: 12%;
    margin-bottom: 5%;
  }

  .icon {
    margin-top: 8%;
    color: rgb(194, 194, 194);
    float: left;
    font-size:1.5rem;
  }
  
  .input{
    height: 50%;
  }

  .email .password {
    float: right;
  }

  .form-control::-webkit-input-placeholder { 
    color: #ffffff; 
    font-weight: 400;
  }

  .form-control:focus {
    background-color: rgba(255, 255, 255, 0.474);
    font-weight: 600;
    color: white;
    box-shadow: 0 0 0 0.15rem #046582
  }

input {
   color: white;
 }

 .email-div {
   bottom: 10%;
 }
 
 .btn-success {
   background-color: #4CD964;
 }

.LOGIN {
   margin-bottom: 2%;
   width: 95% !important; 
 }

.SIGNUP {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 800;
  color: #5789C9;
  margin-top: 2%;
  text-decoration: none;
  cursor: pointer;
  background-color: none;
  width: 100px !important;
 }