.question-container{
    background-color: #363636;
    font-family: 'Montserrat', sans-serif;
    border-radius: 20px;
    padding:1%;
    margin:2% auto;
    color:white;
}

.read-more {
    float: inline-end;
}

.user-icon{
    position: relative;
    display: inline-block;
    color: #B2B1B1;
}

.student-name{
    font-size: 1.2rem;
    left:6%;
    margin-bottom: 0px;
    margin-top: 5px;
}
.category {
    position: relative;
    font-size: 0.8rem;
    font-style: italic;
    left:6%;
    top: 0px;
    
}

.question-title{
    margin-top: 1%;
    color:#01FF6F;
}
.btn {
    font-weight: 700;
    border-radius: 15px;
    width: 16%;
}

.answers-btn{
    border-radius: 28px;
    background-color: #4CD9D9;
    color:black;
    font-size: 1.2rem;
    border: none;
    outline: none;
    padding:auto 0.4%;
    width: 100px;
}

.give-ans-btn{
    border-radius: 28px;
    background-color: #4CD964;
    color:black;
    font-size: 1.2rem;
    border: none;
    outline: none;
    padding:auto 0.4%;
    width: 150px;
    margin-left:78%;
  
  }
  