.answers-div{
  border-radius: 20px;
  text-align: left;
  margin-top: 0.9%;
  padding-top: 0.8%;
  padding-left: 3%;
  color: white;
  font-family: 'Montserrat', sans-serif;
}

.answer-container{
  font-family: 'Montserrat', sans-serif;
  border-radius: 20px;
  padding:1%;
  margin:2% 8%;
  color:white;  
  border: 2px solid #585858;
}

.question-container{
  background-color: #363636;
  font-family: 'Montserrat', sans-serif;
  border-radius: 20px;
  padding:1%;
  margin:2% 8%;
  color:white;
}

.post-ans-div{
  margin:2% 8%;
  position: relative;
  display:none;
  text-align: right;
}

.sub-ans-div{
  width: 95%;
  margin:1% 0;
  position: relative;
  display:none;
  text-align: right;
}

.sub-ANS {
  padding: 0.1%;
  margin-left: 5%;
  margin-bottom: 2%;
  border-style: solid;
  border-color: #02696f;
  border-radius: 10px;
}

.users-icon{
  /* position: absolute;
  display: inline-block; */

  display: inline-block;
  border-radius: 50%;
  width: 20%;
  height: 29%;
  object-fit: cover;
}

.student-name{
  position: relative;
  display: inline-block;
}

.question-title{
margin-top: 1%;
}

.answers-btn{
  border-radius: 28px;
  background-color: #4CD9D9;
  color:black;
  font-size: 1.2rem;
  border: none;
  outline: none;
  padding:auto 0.4%;
  width: 100px;
}

.post-ans-text{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-top: 2%;
  margin-bottom: 2%;
  margin-left: 1%;
  position: relative;
  display: inline-block;
  border-radius: 10px;
  border: none;
  outline: none;
  width:100%;
  background-color: #363636;
  color: white;
}

.form-control:focus{
  background-color: #363636;
  box-shadow: 0 0 0 0.15rem #046582;
  color: white;
  
}

.form-control::-webkit-input-placeholder { 
  color: #858585; 
  font-weight: 400;
}


.post-btn{
  width: 10%;
  margin-top: .5%;
  border-radius: 5px;
  background-color: #1ABB9C;
  color:white;
  font-size: 1.1rem;
  float: right;
}

.update-btn{
  font-size: 1.5rem;
  margin:auto 0;
  padding: 0;
  color:#F8B500;
  border-radius: 28px;
  width: 4%;
}
.update-btn:hover {
  color: white;
}
.update-btn:focus {
  box-shadow: 0 0 0 0.15rem transparent;
}

.delete-btn{
  font-size: 1.5rem;
  margin:auto 0;
  padding: 0;
  color:#ffffff;
  border-radius: 12px;
  width: 4%;
}
.delete-btn:hover {
  color: #cc1f1f;
}

.delete-btn:focus {
  box-shadow: 0 0 0 0.15rem transparent;
}

.post-subAns-btn{
  margin:auto 0%;
  /* border-color:greenyellow; */
  background-color:greenyellow;
  color:#393E46;
  font-size: .8rem;
  font-weight: 800;
  border-radius: 28px;
  width: 8%;
}

.post-subAns-btn:hover {
  /* color: white; */
  background-color: rgb(130, 191, 38);
}

.post-subAns-btn:focus {
  box-shadow: 0 0 0 0.15rem rgb(130, 191, 38);
}

.give-ans-btn{
  
  /* border-radius: 28px; */
  background-color: #60a0dc;
  color:white;
  font-size: 1.1rem;
  outline: none;
  padding:auto 0.4%;
  width: 16%;
  margin-top: 1%;
}

/*@keyframes pulse {
  0% { box-shadow: 0 0 0 0 red }

  animation: pulse 1s;
  box-shadow: 0 0 0 2em rgba(red,0);

}*/

.rate-btn{
  width: 12%;
}

.rate-btn:focus {
  box-shadow: 0 0 0 0.15rem transparent;
}


.save-btn{
  margin-bottom: 1%;
  margin-left: 95.3%;
  border: 0;
  color: #455af5;
  padding:0 1%;
  font-size:1.7em;
  font-weight: 800;
  border-radius: 100%;
  width: 4%;
  height: 25px;
}

.save-btn:hover {
  color: #F76B8A;
}

.save-btn:focus {
  box-shadow: 0 0 0 0.15rem transparent;
}

/* .show-more-btn{
  margin-left: 45%;
  margin-bottom: 2%;
  border-color:#3186B2;
  background-color:#3186B2;
  color:white;
  border-radius: 28px;
  width: 12%;
} */

.show-more-btn {
  width: 12%;
  margin-left: 45%;
  margin-bottom: 2%;
  cursor: pointer;
  background: transparent;
  border: 1px solid #91C9FF;
  outline: none;
  transition: 1s ease-in-out;
  color: white;
  font-size: 1.2rem;
  font-weight: 400;
}

.show-more-btn:hover {
  transition: 1s ease-in-out;
  background: #4F95DA;
}

.show-more-btn span {
  color: white;
  font-size: 18px;
  font-weight: 400;
}

.show-delete-section{
  position:absolute;
  z-index: 15;
  display:block;
  background-color:#E8E8E8;
  border:10px solid red;
  left:30%;
  top:20%;
  width:40%;
  height:30%;
  border-radius: 10px;  
}

.answers-heading{
  display: inline-block;
  font-size: 1.5rem;
  font-weight: bold;
  color:#FC7600;
  border-style: solid;
  border-top: #FC7600;
  border-width: 8px;
  border-left: none;
  border-right: none;
  margin: 0% 8%;  
}

hr {
  background-color: #FC7600;
  margin: 0% 8%;  
  border-width: 1.2px;
  border-color: #FC7600;
}

.update-img{
  width: 17%;
  height: 17%;
  float: none;
  margin-right: 4%;
  margin-bottom: 2%;

}

.delete-img{
  width: 17%;
  height: 17%;
  float: none;
  margin-right: 2%;
  margin-bottom: 2%;
}

.add-ans-img{
  width: 16%;
  height: 16%;
  margin-right: 2%;
}

.ratings-img{
  width: .9%;
  height: .9%;
  float: none;
  margin-left: .4%;
  margin-bottom: .3%;
}

.show-more-img{
  width: 20%;
  height: 20%;
  float: none;
  margin-left: .2%;
  margin-bottom: .3%;
  margin-right: 2%;
}

.rate-img{
  width: 25%;
  height: 25%;
  float: right;
}

.post-img{
  width: 30%;
  height: 30%;
}

.image-container{
  display: block;
  margin: 2px auto;
  width: 35%;
  object-fit: cover;
}
