/* .input-box{
    padding:1%;
    background-color:#6c757d;
    color:black;
    border-radius: 10px;
}

.text-area{
    position: relative;
    width:80%; 
    margin-left:1%;
}

.invalid-input input{
    border:red 3px solid;
} */

.input-box {
    padding:1%;
    background-color:#6c757d;
    color:rgb(255, 255, 255);
    border-radius: 10px;
}

.text-area{
    position: relative;
    width:80%; 
    margin-left:1%;
}

.invalid-input input{
    border:red 3px solid;
}

.error {
    font-size: .85rem;
    font-weight: 600;
    color: rgb(255, 255, 255);
}